.elementFadeIn {
	-webkit-animation: fadeIn 2s ease-in-out;
	animation: fadeIn 2s ease-in-out;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.hoverAnimation {
	-webkit-transition: background 1s 0s ease;
	-moz-transition: background 1s 0s ease;
	-o-transition: background 1s 0s ease;
	transition: background 1s 0s ease;
}
.digitInput {
	display: block;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0.375rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.timerButton,
.controlButton {
	background-color: transparent;
	border-radius: 50%;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	font-size: 2rem;
	padding: 0.3rem;
	text-decoration: none;
	line-height: 0;
	height: min-content;
}
.padStyle {
	background-color: #007bff;
	border: none;
	box-shadow: 6px 3px 2px gray;
	font-family: 'Share Tech Mono', monospace;
	height: 90px;
	width: 100%;
}
#del.padStyleActive {
	background-color: #ff0000;
}
.padStyleInactive {
	background-color: #ccc;
}
.padStyleInactive:is(:active, :hover, :focus) {
	background-color: #ccc !important;
	border-color: var#ccc !important;
}
.padStyleActive {
	background-color: #007bff;
	border-color: #007bff;
}
.padStylePressed {
	color: black;
	background-color: yellow;
	box-shadow: none;
}
.padStylePressed:is(:active, :hover, :focus),
.padStyleActive:active {
	color: black;
	background-color: yellow;
	border-color: yellow;
}
.checkButton {
	background-color: transparent;
	border-radius: 50%;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	padding: 0.3rem;
	text-decoration: none;
	line-height: 0;
	height: min-content;
}
.timerButton:focus,
.controlButton:focus,
.hoverAnimation:hover {
	outline: none !important;
	background-color: white;
}

.buttonClickAnimation:active,
.controlButton:active {
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

.controlButton {
	font-size: 3rem;
}

/* switches CSS */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* @media screen and (max-width: 43rem) {
	#app {
		transform: scale(0.8);
	}
} */
