.elementFadeIn {
	-webkit-animation: fadeIn 2s ease-in-out;
	animation: fadeIn 2s ease-in-out;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.hoverAnimationDuration {
	-webkit-transition: background 1s 0s ease;
	-moz-transition: background 1s 0s ease;
	-o-transition: background 1s 0s ease;
	transition: background 1s 0s ease;
}

.timerButton,
.controlButton {
	background-color: transparent;
	border-radius: 50%;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	font-size: 2rem;
	padding: 0.3rem;
	text-decoration: none;
	line-height: 0;
	height: min-content;
}
.buttonDisableStyle {
	color: #7a7a7a;
	background-color: #e6e6e6;
	padding: 0;
	margin: 0.3rem;
	cursor: not-allowed !important;
}

.timerButton:focus,
.controlButton:focus {
	outline: none !important;
}

.controlButton:hover {
	background-color: white;
}

.buttonClickAnimation:active,
.controlButton:active {
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

.controlButton {
	font-size: 3rem;
}

@media screen and (max-width: 43rem) {
	#app {
		transform: scale(0.8);
	}
}
